<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<!--suppress WebProperties -->
<web-app>

   <display-name>Integration Test</display-name>

   <context-param>
      <param-name>tapestry.app-package</param-name>
      <param-value>com.googlecode.tawus.addons.integration</param-value>
   </context-param>

   <filter>
      <filter-name>test</filter-name>
      <filter-class>org.apache.tapestry5.TapestryFilter</filter-class>
   </filter>


   <filter-mapping>
      <filter-name>test</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>

   <welcome-file-list>
      <welcome-file>Index</welcome-file>
   </welcome-file-list>

</web-app>
