<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tawus Addons" annotations="1.5" verbose="2">
<test name="Unit Tests" enabled="true">
  <packages>
      <package name="com.googlecode.tawus.addons.components"/>
   </packages>
</test>
<test name="Integration Tests" enabled="true">
   <parameter name="tapestry.web-app-folder" value="src/test/webapp"/>
  <classes>
     <class name="com.googlecode.tawus.addons.integration.ZoneRefreshTest"/>
     <class name="com.googlecode.tawus.addons.integration.ModalDialogTest"/>
     <class name="com.googlecode.tawus.addons.integration.TabPanelTest"/>
   </classes>
</test>
</suite>
